In [2]:
import numpy
import pandas
import quandl
import seaborn
import sklearn
import datetime

In [3]:
def CustomMetrics(InputDataframe):
    
    """
    The function serves to consolidate commonly necessary metrics into one dataframe. Both the input and output of the function is a Pandas dataframe.
    Specifically, the function will return :
            
        * The datatype of your input dataframe's column
        * A boolean flag of whether or not there are missing values in the in the input dataframe
        * The number of null values that exist in each of the input columns
        * The number of unique values in each of the input columns
    """
    
    DataframeMetrics = pandas.DataFrame(index=InputDataframe.columns,columns='ColumnDatatypes #UniqueValues NullValuesPresent #NullValues'.split())
    Columns = list(InputDataframe.columns)
    
    for Values in Columns:        
        DataframeMetrics['ColumnDatatypes'][Values] = InputDataframe[Values].dtypes
        DataframeMetrics['#UniqueValues'][Values] = InputDataframe[Values].nunique()
        DataframeMetrics['#NullValues'][Values] = InputDataframe[Values].isnull().sum()
        DataframeMetrics['NullValuesPresent'][Values] = InputDataframe[Values].isnull().values.any()
    
    print('The dimensions of the input dataframe are: {} rows by {} columns.'.format(len(InputDataframe.index), len(InputDataframe.columns)))
    return DataframeMetrics

## NOTES :

* #### <a href="https://budgeting.thenest.com/adjusted-closing-price-vs-closing-price-32457.html">CLOSING PRICE vs ADJUSTED CLOSING PRICE:</a>
    * The two terms refer to slightly different ways of valuing stocks. The <mark>closing price</mark> of a stock is the price of that stock at the close of the trading day. The <mark>adjusted closing price</mark> is a more complex analysis that uses the closing price as a starting point, but it takes into account factors such as dividends, stock splits and new stock offerings to determine a value. <mark>The adjusted closing price represents a more accurate reflection of a stock's value, since distributions and new offerings can alter the closing price.</mark>

* #### <a href="https://www.investopedia.com/terms/o/openingprice.asp#:~:text=What%20Is%20Opening%20Price%3F,is%20its%20daily%20opening%20price.">OPENING PRICE:</a>
    * The <mark>opening price</mark> is the price at which a security first trades upon the opening of an exchange on a trading day.
    * The opening price is an important marker for that day's trading activity, particularly for those interested in measuring short-term results such as day traders.
    * The opening price is the price at which a security first trades when an exchange opens for the day.
    * An opening price is <mark>not identical to the previous day's closing price.</mark>
    * There are several day-trading strategies based on the opening price of a market or security.
* #### <a href="https://www.investopedia.com/terms/v/volume.asp#:~:text=Volume%20is%20the%20amount%20of,its%20daily%20open%20and%20close.">VOLUME:</a>
    * <mark>Volume</mark> is the number of shares of a security traded during a given period of time.
    * **Generally securities with more daily volume are more liquid than those without, since they are more "active".**
    * Volume is an important indicator in technical analysis because it is used to measure the relative significance of a market move.
    * **The higher the volume during a price move, the more significant the move and the lower the volume during a price move, the less significant the move.**
    
* There are three main financial statements companies produce on a quarterly and annual basis. They are the balance sheet, the income statement, and the cash flow statement. All three can be used to help you understand a company’s financial profile—if it is healthy, growing, efficient, profitable, et cetera.

In [4]:
quandl.ApiConfig.api_key = 'iayjGifbbQweaV3amAm_'

In [5]:
Data = quandl.get_table('WIKI/PRICES', ticker = ['AAPL', 'MSFT', 'WMT'], 
                        date = { 'gt': '2015-12-31', 'lte': datetime.date.today }, 
                        paginate=True)

In [6]:
Data.columns

Index(['ticker', 'date', 'open', 'high', 'low', 'close', 'volume',
       'ex-dividend', 'split_ratio', 'adj_open', 'adj_high', 'adj_low',
       'adj_close', 'adj_volume'],
      dtype='object')

In [7]:
Data.describe()

,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
count,1682.000000,1682.000000,1682.000000,1682.000000,1.682000e+03,1682.000000,1682.0,1682.000000,1682.000000,1682.000000,1682.000000,1.682000e+03
mean,91.664466,92.360834,90.994894,91.709705,2.313894e+07,0.006332,1.0,90.416751,91.103094,89.756370,90.460897,2.313894e+07
std,34.444834,34.699504,34.175509,34.441299,1.568763e+07,0.055886,0.0,34.865914,35.123155,34.593007,34.861634,1.568763e+07
min,48.680000,49.146600,48.035000,48.430000,4.234383e+06,0.000000,1.0,46.354018,47.201493,45.887431,46.771913,4.234383e+06
25%,67.957500,68.472500,67.481250,68.005000,1.025162e+07,0.000000,1.0,65.927125,66.338105,65.461457,65.947651,1.025162e+07
50%,78.555000,79.000000,78.035000,78.575000,2.111144e+07,0.000000,1.0,78.156581,78.775576,77.759065,78.351683,2.111144e+07
75%,106.927500,107.862250,106.136975,107.067500,2.990045e+07,0.000000,1.0,105.530704,106.298746,104.558211,105.540126,2.990045e+07
max,182.590000,183.500000,180.210000,181.720000,1.335030e+08,0.630000,1.0,182.590000,183.500000,180.210000,181.720000,1.335030e+08

In [8]:
Data.head()

,ticker,date,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
None,,,,,,,,,,,,,,
0,WMT,2018-03-27,87.96,88.04,85.48,86.05,6395554.0,0.0,1.0,87.96,88.04,85.48,86.05,6395554.0
1,WMT,2018-03-26,86.22,87.69,86.11,87.50,8640866.0,0.0,1.0,86.22,87.69,86.11,87.50,8640866.0
2,WMT,2018-03-23,87.35,87.74,85.28,85.42,9762296.0,0.0,1.0,87.35,87.74,85.28,85.42,9762296.0
3,WMT,2018-03-22,87.53,88.27,86.99,87.14,11338049.0,0.0,1.0,87.53,88.27,86.99,87.14,11338049.0
4,WMT,2018-03-21,87.89,89.68,87.68,88.18,11687930.0,0.0,1.0,87.89,89.68,87.68,88.18,11687930.0

In [9]:
DataMetrics = CustomMetrics(Data)
DataMetrics

The dimensions of the input dataframe is: 1682 rows by 14 columns.

            ColumnDatatypes #UniqueValues NullValuesPresent #NullValues
ticker               object             3             False           0
date         datetime64[ns]           561             False           0
open                float64          1505             False           0
high                float64          1522             False           0
low                 float64          1522             False           0
close               float64          1493             False           0
volume              float64          1682             False           0
ex-dividend         float64             9             False           0
split_ratio         float64             1             False           0
adj_open            float64          1616             False           0
adj_high            float64          1616             False           0
adj_low             float64          1618             False           0
adj_close           float64          1604             False           0
adj_volume          float64          1682             False           0

In [11]:
Data.corr()

,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
open,1.000000,0.999814,0.999737,0.999566,0.217212,-0.008160,NaN,0.999668,0.999514,0.999413,0.999272,0.217212
high,0.999814,1.000000,0.999690,0.999792,0.221936,-0.008576,NaN,0.999457,0.999667,0.999337,0.999463,0.221936
low,0.999737,0.999690,1.000000,0.999803,0.210130,-0.008818,NaN,0.999410,0.999391,0.999669,0.999503,0.210130
close,0.999566,0.999792,0.999803,1.000000,0.215919,-0.008851,NaN,0.999215,0.999463,0.999448,0.999667,0.215919
volume,0.217212,0.221936,0.210130,0.215919,1.000000,-0.001497,NaN,0.209787,0.214390,0.202899,0.208535,1.000000
ex-dividend,-0.008160,-0.008576,-0.008818,-0.008851,-0.001497,1.000000,NaN,-0.008168,-0.008573,-0.008811,-0.008845,-0.001497
split_ratio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
adj_open,0.999668,0.999457,0.999410,0.999215,0.209787,-0.008168,NaN,1.000000,0.999822,0.999748,0.999585,0.209787
adj_high,0.999514,0.999667,0.999391,0.999463,0.214390,-0.008573,NaN,0.999822,1.000000,0.999703,0.999800,0.214390
adj_low,0.999413,0.999337,0.999669,0.999448,0.202899,-0.008811,NaN,0.999748,0.999703,1.000000,0.999812,0.202899
adj_close,0.999272,0.999463,0.999503,0.999667,0.208535,-0.008845,NaN,0.999585,0.999800,0.999812,1.000000,0.208535
adj_volume,0.217212,0.221936,0.210130,0.215919,1.000000,-0.001497,NaN,0.209787,0.214390,0.202899,0.208535,1.000000